<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!--	<extension point="org.eclipse.debug.core.launchConfigurationComparators">
		<launchConfigurationComparator
			id="com.serious.business.launch.childsComparator"
			class="com.serious.business.configuration.tabs.LaunchGroupComparator"
			attribute="com.serious.business.common.GROUP_CONFIGURATION_KEY"/>
	</extension> -->

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="Launch Group"
	        delegate="com.serious.business.configuration.launch.GroupLaunchConfigurationDelegate"
	        modes="run, debug"               
	        id="com.serious.business.launchGroupDelegate">        
	    </launchConfigurationType>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="com.serious.business.launchGroupDelegate"
	        class="com.serious.business.configuration.tabs.LaunchGroupConfigurationTabGroup"
	        id="com.serious.business.launchConfigurationTabGroup.tabGroup">
	    </launchConfigurationTabGroup>
	</extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
