<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.debug.core.launchConfigurationComparators">
		<launchConfigurationComparator
			id="com.serious.business.launch.childsComparator"
			class="com.serious.business.launch.LaunchGroupComparator"
			attribute="com.serious.business.common.GROUP_CONFIGURATION_KEY"/>
	</extension>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="Launch Group"
	        delegate="com.serious.business.launch.GroupLaunchConfigurationDelegate"
	        modes="run, debug"               
	        id="com.serious.business.launchGroupDelegate">        
	    </launchConfigurationType>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="com.serious.business.launchGroupDelegate"
	        class="com.serious.business.launch.LaunchGroupConfigurationTabGroup"
	        id="com.serious.business.launchConfigurationTabGroup.tabGroup">
	    </launchConfigurationTabGroup>
	</extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="EclipseLaunchGroup">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="EclipseLaunchGroup"
            class="com.serious.business.SampleView"
            id="com.serious.business.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.serious.business.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
